

<header class="header">
    <div style="color: black;">
          <h1 >Contact Us</h1>
      </div>
  <div class="nav-wrapper">
    <nav class="user-nav" id="user-nav">
      <a class="submit-a-request" href="/order">Submit a request</a>
    </nav>
      <a rel="nofollow" data-auth-action="signin" title="Opens a dialog" role="button" href="/hc/en-us/signin?return_to=https%3A%2F%2Fsmartdraw.zendesk.com%2Fhc%2Fen-us">
        Sign in
      </a>
    
  </div>
</header>


  <main role="main">
    <h1 class="visibility-hidden">GSTHelper</h1>

<section id="main-content" class="section hero sd-searchSection">
  <div class="hero-inner">
    <h2 class="visibility-hidden">Search</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
    </svg>
    <form role="search" class="search search-full" data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" /><input type="search" name="query" id="query" placeholder="Search" autocomplete="off" aria-label="Search" /></form>
  </div>
</section>


<div class="container">
  <section class="section knowledge-base">
    <h2 class="visibility-hidden">Categories</h2>
    
    <!--     Custom Section -->
    
    
    
    <section>
      <div class="sd-knowledgeBase">
        <h2>GST Helper Contact Section</h2>
        <div>
          <div class="sd-knowledgeBase-iconGroup">
            <a href="/">
              <img src="//theme.zdassets.com/theme_assets/9245891/649279cc34651d54b261149958d5fb2fb803d1e1.svg">
              <label>FAQ</label>
            </a>
          </div>
          <div class="sd-knowledgeBase-iconGroup">
            <a href="/">
              <img src="//theme.zdassets.com/theme_assets/9245891/e4a18934cd6dc880499a78eac8f304f113eea5ed.svg">
              <label>My Account</label>
            </a>
          </div>
          <div class="sd-knowledgeBase-iconGroup">
            <a href="/">
              <img src="//theme.zdassets.com/theme_assets/9245891/3ef5e50a3472088465ac2473d872115149db6034.svg">
              <label>Videos</label>
            </a>
          </div>
        </div>
        <div>
          <div class="sd-knowledgeBase-iconGroup">
            <a href="/">
              <img src="//theme.zdassets.com/theme_assets/9245891/df5962a46538e9a7cb7fded6094aea526d7968d8.svg">
              <label>Templates &amp; Documents</label>
            </a>
          </div>
          <div class="sd-knowledgeBase-iconGroup">
            <a href="/">
              <img src="//theme.zdassets.com/theme_assets/9245891/eef9efa2b407cd82cfd2a005a281d4620db3cda8.svg">
              <label>The Basics</label>
            </a>
          </div>
          <div class="sd-knowledgeBase-iconGroup">
            <a href="/">
              <img src="//theme.zdassets.com/theme_assets/9245891/0631ffd2f9193c91f7f258d6adf13e276b2bb78e.svg">
              <label>How to Draw Each Type of Diagram</label>
            </a>
          </div>
        </div>
        <div>
          <div class="sd-knowledgeBase-iconGroup">
            <a href="/">
              <img src="//theme.zdassets.com/theme_assets/9245891/ce4842cea63eb041622b06ea593ee69dc582e70b.svg">
              <label>Printing, Sharing, &amp; Integration</label>
            </a>
          </div>
          <div class="sd-knowledgeBase-iconGroup">
            <a href="/">
              <img src="//theme.zdassets.com/theme_assets/9245891/37b70bc128292a7fa73f68735dbb645552909860.svg">
              <label>Generate Automatic Diagrams from Data</label>
            </a>
          </div>
          <div class="sd-knowledgeBase-iconGroup">
            <a href="/">
              <img src="//theme.zdassets.com/theme_assets/9245891/963dd4e6fa4bb9d90cb278284e7b3cc3cfb3bd71.svg">
              <label>Reference</label>
            </a>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>

  </main>
  
