
<footer class="footer">
    <div class="footerinner">
        <div class="siteFooterContainer text-center">
            <div>
                <h3>Online GST Help Portal</h3>
                <p>©1994-2020 <a href="https://www.google.co.in/" target="_blank">GST Helper, LLC</a></p>
            </div>
            <div class="footerLinksContainer">
                <h3 style="color: black; font-weight: 500;">Site Map</h3>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/aboutUs">About Us </a></li>
                    <li><a href="/order">Order</a></li>
                    <li><a href="/ourProduct">Our Product</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/contactUs">Contact Us</a></li>
                    <li><a href="/chat">Chat</a></li>
                    <li>What'app Us</li>
                </ul>
            </div>
            <div class="footerLinksContainer">
                <h3 style="color: black; font-weight: 500;">Contacts</h3>
                <ul>
                    <p>Nitin Rajput</p>
                    <p>3958 2nd Floor, Ansal Chamber</p>
                    <p>Bhikaji Cama Place</p>
                    <p>New Delhi - 110066</p>
                    <p>India</p>
                </ul>
            </div>
            <div class="footerLinksContainer">
                <h3 style="color: black; font-weight: 500;">Follow Us</h3>
                <a href="https://www.facebook.com/ashutosh.kumar.5076" target="_blank"><img src="./assets/Facebook.jpg" alt="facebook" class="footerSocialMediaIcons"></a>
                <a href="https://wa.me/9410089290" target="_blank"><img src="./assets/WhatsApp.jpg" alt="WhatsApp" class="footerSocialMediaIcons"></a>
                <a href="https://www.youtube.com/c/varnitrajput" target="_blank"><img src="./assets/Yourtube.png" alt="youtube" class="footerSocialMediaIcons"></a>
                <a href="https://twitter.com/ashutosh7275/" target="_blank"><img src="./assets/Twitter.png" alt="twitter" class="footerSocialMediaIcons"></a>
                <a href="https://www.instagram.com/er.ashutosh72/" target="_blank"><img src="./assets/Instagram.jpg" alt="instagram" class="footerSocialMediaIcons"></a>
                <a href="https://www.linkedin.com/in/ashutosh-kumar-112b4195" target="_blank"><img src="./assets/Linkdin.jpg" alt="linkdin" class="footerSocialMediaIcons"></a>
    
            </div>
        </div>
    </div>
</footer>
 