<head>
  <link rel="stylesheet" media="all" href="//static.zdassets.com/hc/assets/application-ebbf4a70487f9466c9be47bf4b6055f6.css" id="stylesheet" />
  <link rel="stylesheet" type="text/css" href="//p20.zdassets.com/hc/theming_assets/9245891/360002558832/style.css?digest=360546281472" />
  <link href="https://fonts.googleapis.com/css?family=Overpass:100,400,900" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"crossorigin="anonymous" async></script>
    <script async src='/cdn-cgi/bm/cv/2172558837/api.js'></script>
</head>



<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-dark my-5">
          <div class="card-body " style="align-items: center;">
            <app-home></app-home>
          </div>
        </div>
        <router-outlet></router-outlet>
        <app-footer-component></app-footer-component>
      </div>
    </div>
  </div>